# Copia este archivo como .env y rellena los valores
# cp .env.example .env

PORT=4000
MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/<nombre_db>?retryWrites=true&w=majority&appName=<nombre_app>
